       html {
        scroll-behavior: smooth;
      }

      body {
        background-color: #f4eff1;
      }

      .navbar {
        background: rgba(220, 228, 214, 0.7) !important;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
      }

      .navbar-brand img {
        height: 75px;
        width: 175px;
      }

      .profile-img {
        width: 360px;
        height: 360px;
        object-fit: cover;
        border-radius: 50%;
        border: 15px solid #c6e6a8;
        margin-bottom: 20px;
      }

      .about-box {
        background-color: #c6e6a8;
        border-radius: 30px;
        padding: 30px;
      }

      .project-img {
        width: 100%;
        max-width: 500px;
        height: auto;
      }

      .contact-section {
          background: rgba(220, 228, 214, 0.7);
          backdrop-filter: blur(8px);
          -webkit-backdrop-filter: blur(8px);

          min-height: 10vh;
          padding: 15px 0;
      }

      .contact-section p {
          margin-bottom: 5px;
      }

      .contact-section h4 {
          margin-bottom: 10px;
      }

      section {
        padding-top: 100px;
        padding-bottom: 100px;
      }

      .project-card {
        border: none;
        background: transparent;
      }

      .col-md-8 h1 {
        font-size: 5rem;
        color:#4C4949;
      }

      .col-md-8 h2 {
        font-size: 3rem;
        color: #4a7c59;
      }

      .col-md-8 p {
        font-size: 1.5rem;
        color: #4C4949;
      }

      .fw-bold mb-4 {
        color: #4C4949;
      }

      .mb-0 {
        color: #4C4949;
      }
